.app-component{
  display: flex;
  justify-content: flex-end;
}
.table-component{
  width: 50%;
}
.menu{
  display: flex;
  list-style:none;
  text-decoration: none;
  text-transform: uppercase;
}
/* .menu-item:active{
    border-bottom: 3px solid #29b6f6;
} */
.menu-item-a{
  border-bottom: 3px solid #29b6f6;
}
